body {
  font-family: Arial, sans-serif;
  text-align: center;
}
header {
  display: flex;
  background-color: #0d9488;
  height: 70px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-left: 40px;
  z-index: 999999;
}

.mainContainer {
  display: flex;
  justify-content: center;
  margin: 100px 50px 50px 50px;
}
#daftarHero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(246, 251, 251);
  border-radius: 15px;
  flex-grow: 8;
  width: 70%;
}
.namaHero {
  width: 200px;
  padding: 15px 5px 15px 5px;
  list-style: none;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 5px 12px 18px -6px rgba(58, 79, 102, 0.26);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.namaHero:hover {
  background-color: #0d9488;
  color: #fff;
}

aside {
  width: 30%;
  height: auto;
  margin-left: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar {
  position: sticky;
  top: 100px;
  border-radius: 10px;
  background-color: rgb(246, 251, 251);
  border-radius: 15px;
}
.pencarian {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 20px 20px 20px 20px;
  box-shadow: 5px 12px 18px -6px rgba(58, 79, 102, 0.26);
  border-radius: 15px;
  padding: 10px;
  background-color: #fff;
}
.inputCari {
  display: flex;
}
input[type="text"] {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  border: 1px solid #e0d7d7;
}
button {
  width: 30%;
  background-color: #0d9488;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.hasilPencarian {
  width: inherit;
  height: auto;
  text-align: left;
  font-size: 18px;
  margin: 30px 20px 20px 20px;
  box-shadow: 5px 12px 18px -6px rgba(58, 79, 102, 0.26);
  border-radius: 15px;
  padding: 10px;
  background-color: #fff;
}
@media only screen and (max-width: 600px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 50px 50px 50px;
  }
  #daftarHero {
    width: 100%;
    order: 2;
  }
  aside {
    width: 100%;
    align-items: center;
    order: 1;
    margin-left: 0px;
  }
}
